/*!
 * Roots 6.5.1
 */


/* ==========================================================================
   Base
   ========================================================================== */

/*Fonts*/
@import url(http://fonts.googleapis.com/css?family=Merriweather:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:300,400,700,800);

@import "variables.less";
@import "bootstrap/bootstrap.less";

body{
  font-family: @sansSerif;
  font-size: 14px;
  // line-height: 1.428571429; is this something specific?
  line-height: 1.5;
  color: @black;
  background-color: @tan;

}
p{
  font-family: @serif;
  font-family: @serif;
  font-weight: 300;
  margin: 1em 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: @sansSerif;
  font-weight: 400;
  color: inherit;
}

h1{ font-size: 48px; }
h2{ font-size: 38px; }
h3{ font-size: 31px; }
h4{ font-size: 23px; }
h5{ font-size: 18px; }
h6{ font-size: 16px; }

h1{
  font-weight: 800;
  color: @red;
  text-transform: uppercase;
}

h6{
  font-size: 18px;
  color: @darkGrey;
  font-weight: 300;
  font-family: 'Merriweather', serif;
  margin-top: 0;
}

.navbar-brand{
  margin-top: 6px;
}

.col-md-3{
  padding-bottom:15px;
  padding-top:15px;
}

.ultra-heading{
  font-weight: 800;
  // font-size: 72px;
  color: @red;
  text-transform: uppercase;
  background-color: @tan;
  padding: 20px;
  margin-bottom: 18px;
}

.reg-heading{
  margin: 0;
  color: @red;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 48px;
  padding: 20px 20px 20px 0px;
}


body { 
   background-color: @tan;
}


/* ==========================================================================
   Header
   ========================================================================== */

.banner { 
  margin-bottom: 0;
  padding: 20px 0;
  background: @black;
  border: 0;
  
  .container{

    .navbar-brand{
      text-indent: -32768px;
      width: 210px;
      height: 39px;
      background-size: 100%;
      margin-left: 0;
    }

    .navbar-nav{
      float: right;

      li a{
        text-transform: uppercase;
        color: @red;
        background: @black;
        font-weight: 700;
        font-size: 24px;
        margin-right: 40px;

        &:hover, &:active{
          color: @tan;
          background: @black;
        }


      }

      li.active, li.active:active, li.active:hover{
        a{
          color: lighten(@red, 15%);
          background: @black;
        }
      }
    }

  }


}

.banner .container .navbar-brand{ background-image: url("../img/logo.svg"); }
.svg .banner .container .navbar-brand{ background-image: url("../img/logo.svg"); }

//temp fix
.container-full{
  width: 1200px;
}


/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

#footer{

  background-color: @black;
  padding-top: 40px;
  padding-bottom:40px;

  p{
    font-family: @sansSerif;
    color: @darkGrey;
    font-size: 12px;
    font-weight: 400;
  }

  .give-us-your-email{

    #email-input{
      width: 100%;
      padding: 0;
      background-color: @black;
      border: none;
      border-bottom: 1px solid @darkGrey;
      color: @darkGrey;
      font-family: @serif;
      font-size: 40px;
    }

    #email-input:focus{
      outline: none;
    }

  }// end give us your email

  .links{
    margin-top: 60px;
   
    .col-md-offset-1{
      // margin-left: 5%;
    }
   
    a{
      color: #cbc9bf;
    }

    ul{
      list-style-type: none;
      padding: 0;
      font-size: 12px;
      color: #cbc9bf;
      text-transform: uppercase;
      border-left: 1px solid @darkGrey;
      padding-left: 8px;

      span{
        color: @red;
      }

      li{
        padding: 2px;
      }


    }//end ul

  }//end links

  

  // for bottom border
  .content{
    border-bottom: 1px solid @darkGrey;
    padding-bottom: 40px;
  }


  .bottom-content{
    font-size: 12px;
    font-weight: 400;
    
    i{
      color: @red;
      margin-top: 14px;
    }
  
    span{
      color: @darkGrey;
      margin-left: 6px;
      margin-right: 18px;
      text-transform: uppercase;

    }

  }


  .social-footer-links{
    float: right;
  }

} //end footer


/* ==========================================================================
   Pages
   ========================================================================== */
@import "pages/home.less";
@import "pages/about.less";

.page-content {
  .main {
    padding: 36px 0; 
  }
}

/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm-min) { }

@media (min-width: @screen-md-min) { }

@media (min-width: @screen-lg-min) { }


/* ==========================================================================
   Fancy Stylez
   ========================================================================== */


::selection {
  background: @red; /* Safari */
  color: @tan;
  }
::-moz-selection {
  background: @red; /* Firefox */
  color: @tan;
}
